[MODE]
mode = {"login":[],
        "wish_list":[],
        "toy_cab":"all",
        "toy_search":[],
        "message":[],
        "community":[],
        "users":[],
        "toy_cab2":[]
        }
host = http://test.paquapp.com
[DB]
db_config = {"host":"10.110.0.51",
             "user":"guohongxin",
             "password":"Yd46M9TQZR0MfuX4",
             "port":3306,
             "database":"develop"
             }